@model ClientSystem.Models.Department

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<br />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="content" style="text-align:center;margin-left:500px">
        <div class="row">

            <div class="col-md-6">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Designation Edit</h3>
                    </div>
                    <form role="form">
                        <div class="box-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.DepartmentId)
                            <div class="form-group">
                                @Html.Label("Department Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div>
                                    @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control", @id = "designation" } })
                                    @Html.ValidationMessageFor(model => model.DepartmentName, "", new { htmlAttributes = new { @class = "text-danger" } })
                                    <span id="message"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Submit" class="btn btn-default pull-left" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
}