@model IEnumerable<ClientSystem.Models.Subject>

@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="display" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Serial No.")
            </th>
            <th>
                @Html.DisplayName("Subject Name")
            </th>
            <th>
                @Html.DisplayName("Department Name")
            </th>
            <th>
                @Html.DisplayName("Action")
            </th>
        </tr>
    </thead>
    @{ int i = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{ i++;}
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SubjectId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SubjectId }) |

            </td>
        </tr>
    }

</table>
